# Node dependencies
node_modules/

# Output build directory
dist/
lib/

# TypeScript cache
*.tsbuildinfo

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Environment files
.env
.env.local

# OS-specific
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/

# Test coverage
coverage/
